<div  class="stretch-header" 
 data-{{before duration.start 600}}="top:100%" 
 data-{{duration.start}}="top:0%"
 data-{{before duration.end 500}}="top:0%"
</div>
<div class="header-text center footer " 
  data-{{duration.start}}="opacity:0.0; top:0px" 
  data-{{after duration.start 500}}="opacity:0.9; top:0px">
  <p>{{{title}}}</p>
  <p>{{{body}}}</p>
</div>
