{{!-- Title Template --}}
<div class="stretch-header" 
 data-0="top:0%; background-position-y:0px" 
 data-{{after duration.end 500}}= "top:-100%; background-position-y:{{backgroundParallaxDistance}}px" 
 data-src="{{backgroundImage}}">
</div>
<div class="header-text center title-text" 
  data-{{duration.start}}="opacity:0.9; top:0px" 
  data-{{before duration.end 200}}="opacity:0.0; top:-50px">

  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
</div>
